.hd1{
    margin: auto;
    margin-top: 0px;
    background-color: red;
    text-align: center;
    color: white;
}
.hd3{
   text-align: center;
   color: black;
}
.hd4{
    text-align: center;
}
.dv1{
    text-align: center;
}
.lbl{
    font-weight: 900;
    font-size: larger;
    text-align: center;
}
